.inputTable {
  padding: 4px;
  border: 1px solid #fff;
}

#formAnmeldung {
  position: relative;
  width: 60%;
}

.w-100 {
  width: 100%;
}


/* **************   STYLE FOR THE WEB FORM EXAMPLE   *************** */
#formAnmeldungHelper {
    display:none;
    position: absolute;
    margin:0 0 0 0;
    width: auto;
    max-height:400px;
    overflow:auto;
    padding:10px 20px 10px 10px;
    background-color:white;
    border:2px solid black;
    text-align:left;
    z-index:90;
}

#formAnmeldungHelper.active {
  left: 101%;
  top: 33px;
  display: block;
  position: absolute;
}

#formAnmeldungHelper table {
    margin: 0;
}

#formAnmeldungHelper td,
#formAnmeldungHelper th {
    border: 1px solid #222;
}

#formAnmeldungHelper th {
    border-bottom: 0;
}

#formAnmeldungHelper .aForm_helpTables tr:hover td {
    background-color: #FFCDCD;
    cursor: pointer;
}

#formAnmeldungHelper .last_name,
#formAnmeldungHelper .name {
    width: 140px;
    padding: 4px;
}

#formAnmeldungHelper .club,
#formAnmeldungHelper .rank,
#formAnmeldungHelper .country {
    width: 70px;
}

#imgHelpExit {
    position:absolute;
    top:2px;
    right:2px;
}

/* **************************************************************** */



/* Alert aus Bootstrap */
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert {
  color: #c09853;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}


.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}